#bcomm-tabs-wrapper {
    overflow: hidden;
    border-bottom: gray solid 1px;
    height: 31px;
}

#bcomm-terminals {
    margin-top: 3px;
    padding: 2px;
    height: calc(100% - 65px);
}

.bcomm-xterm-container {
    height: 100%;
    -webkit-user-select: text !important;
    user-select: text !important;
}

.bcomm-stop-icon {
    color: #bc1212;
    padding: 0 0 0 4px;
    float: clear;
    vertical-align: middle;
    visibility: hidden;
}


/* Terminal tabs */

ul.bcomm-tabs {
    list-style-type: none;
    margin: 5px 0 0 0;
    padding: 0;
}

ul.bcomm-tabs li {
    border: gray solid 1px;
    border-bottom: none;
    float: left;
    margin: 0 .25em 0 0;
    padding: .25em .5em;
}

ul.bcomm-tabs li a {
    color: gray;
    font-weight: bold;
    text-decoration: none;
    outline: none;
}

ul.bcomm-tabs li.active {
    background: grey;
    outline: none;
}

ul.bcomm-tabs li.active a {
    color: white;
    outline: none;
}

.bcomm-tab-icon {
    margin-left: 4px;
}

#bcomm-append-link {
    padding: 0 .5em 0 .5em;
    border: 0;
}

#bcomm-append-item {
    padding: .25em 0;
}
