#bcomm-tabs-wrapper {
    overflow: hidden;
    border-bottom: gray solid 1px;
}

#bcomm-terminals {
    margin-top: 3px;
    padding: 2px;
}

.bcomm-terminal-input {
    width: calc(100% - 46px);
    border: 0;
    height: 28px;
}

.bcomm-command-button {
    margin: 0;
    height: 27px;
    vertical-align: top;
}

.bcomm-terminal-output {
    overflow: auto;
}

.bcomm-terminal-output pre {
    background-color: inherit !important;
}


/* Terminal tabs */

ul.bcomm-tabs {
    list-style-type: none;
    margin: 5px 0 0 0;
    padding: 0;
}

ul.bcomm-tabs li {
    border: gray solid 1px;
    border-bottom: none;
    float: left;
    margin: 0 .25em 0 0;
    padding: .25em .5em;
}

ul.bcomm-tabs li a {
    color: gray;
    font-weight: bold;
    text-decoration: none;
    outline: none;
}

ul.bcomm-tabs li.active {
    background: grey;
    outline: none;
}

ul.bcomm-tabs li.active a {
    color: white;
    outline: none;
}

.bcomm-tab-icon {
    margin-left: 7px;
}

#bcomm-append-link {
    padding: 0 .5em 0 .5em;
    border: 0;
}

#bcomm-append-item {
    padding: .25em 0;
}
